:root {
    --primary-blue: #0C4077;
    --text-light: #ffffff;
    --text-dark: #333333;
    --bg-red: #cc0000;
    --bg-yellow: #ffcc00;
    --bg-blue: #0055aa;
    --bg-dark: #222222;
    --border-color: #555555;
    --team-primary-color: #0055aa;
    --team-secondary-color: #cc0000;
    --team-tertiary-color: #ffcc00
}

body {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: var(--text-dark);
    overflow-x: hidden
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: content-box
}

.team-page {
    padding-bottom: 30px
}

.team-info {
    background-color: #fff;
    border-radius: 12px;
    border: 4px solid var(--team-primary-color);
    box-shadow: none;
    margin: 20px auto
}

.team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative
}

.team-name {
    color: var(--team-primary-color);
    font-size: 2.5em;
    margin-bottom: 0;
    margin-left: 15px
}

.team-details {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 15px
}

.details-box {
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin: 10px
}

    .details-box h3, .details-box p {
        color: var(--text-dark);
        margin: 0;
        font-weight: 700
    }

.team-badge {
    text-align: right
}

    .team-badge img {
        max-width: 140px;
        height: 150px
    }

.squad h2 {
    color: var(--team-secondary-color);
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--team-secondary-color);
    padding-bottom: 10px
}

.squad-section {
    margin-bottom: 20px
}

    .squad-section h3 {
        color: var(--text-dark);
        font-size: 1.5em;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 5px
    }

.squad {
    margin-bottom: 30px
}

    .squad h2 {
        color: var(--team-secondary-color);
        font-size: 2em;
        margin-bottom: 20px;
        border-bottom: 2px solid var(--team-secondary-color);
        padding-bottom: 10px
    }

.squad-segment.league-table-container {
    width: 100%;
    max-width: 1400px;
    margin: 30px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    background-color: #fff
}

    .squad-segment.league-table-container h3 {
        text-align: left;
        padding: 20px;
        margin-bottom: 0;
        color: var(--primary-blue);
        border-bottom: 2px solid var(--primary-blue);
        font-size: 1.5em
    }

.table-responsive {
    display: block;
    width: 100%
}

.squad-table {
    width: 100%;
    border-collapse: collapse;
    min-width: auto;
    max-width: 100%
}

    .squad-table thead {
        background-color: #f7f7f7;
        color: var(--text-dark);
        font-weight: 500;
        text-transform: uppercase
    }

    .squad-table td, .squad-table th {
        padding: 8px 6px;
        text-align: center;
        border-bottom: 1px solid var(--team-primary-color);
        cursor: pointer;
        font-size: .85em;
        white-space: nowrap
    }

        .squad-table th[data-long][data-short] {
            position: relative;
            white-space: nowrap;
            padding: 10px;
            text-align: center;
            vertical-align: middle
        }

            .squad-table th[data-long][data-short]::before {
                content: attr(data-long);
                display: block;
                font-weight: 700;
                font-size: .85em;
                color: var(--text-dark)
            }

@media (max-width:768px) {
    .container {
        width: 85%;
        padding: 0 10px
    }

    .team-name {
        font-size: 2.1em;
        margin-bottom: 10px;
        text-align: justify
    }

    .team-info {
        flex-direction: column;
        align-items: center;
        text-align: center
    }

    .team-details {
        grid-template-columns: 1fr
    }

    .team-badge {
        margin-top: 20px
    }

    .squad-table th[data-long][data-short]::before {
        content: attr(data-short)
    }

    .squad-table td, .squad-table th {
        font-size: .75em;
        padding: 6px 4px
    }
}

@media (max-width:480px) {
    .squad-table td, .squad-table th {
        font-size: .65em;
        padding: 4px 2px
    }
}

.team {
    display: flex;
    align-items: center;
    gap: 10px
}

    .team img {
        width: 40px;
        height: 40px;
        object-fit: contain
    }

@media (min-width:768px) and (max-width:1024px) {
    .team img {
        width: 30px;
        height: 30px
    }
}
